<div id="container">
  <div id="foto"
    [ngStyle]="{ 'background-image': 'url(' + producto.fotoUrl + ')' }">
    @if (producto.esCeliaco) {
      <img src="icons/celiaco.png" alt="celiaco">
    }
    @if (producto.esVegano) {
      <img src="icons/vegano.svg" alt="vegano">
    }
  </div>
  <div id="detalles">
    <h4>{{ producto.nombre }}</h4>
    <ul>
      @for (ingredientes of producto.ingredientes; track ingredientes) {
        <li>
          {{ ingredientes }}
        </li>
      }
    </ul>
    <p id="precio">${{ producto.precio }}</p>
  </div>
</div>
